
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#pre-footer {
/*	margin-top:  37%;*/
	background-color: #002540;
	color:  white;
	width: 100%;
	position: fixed;
	bottom:  0;
}



div {
	font-family: Open Sans;
	display:  inline-block;
	width: 23%;
	height: 14vh;
	padding-right: 10% ;
	padding-left:  1%;
	margin: 20px 0px;
	vertical-align: text-top;
	min-width: 350px;

}

h3 {
	padding-bottom: 5%;
	padding-top:  1%;
	font-size:  1.5rem;
}


p {
	margin-top: 0.1em;
	margin-bottom:  0.2rem;
}